[CONFIGURATION]

;Worker config
worker_id = Pilot
host = 127.0.0.1
port = 8777
verbose = 0
; Train config
epochs = 35
batch = 32
optimizer = Adam
lr = 0.002
shuffle = 1
; Data config
train = ../data/preparation/pilot/train.csv
test = ../data/preparation/pilot/test.csv