
[CONFIGURATION]

; Test size percentage
test_size = 0.2
; Look back it must be equal to rolling value in processing stage
lookback = 5
; Proportion of minor classes
p = 0.2
; Folders
path_in = ../data_processing/data
path_out = data
